@model Wetube.Client.Models.CommentVM

@{
    ViewData["Title"] = "Watch";
}

<!-- this is the comment form -->
<br/>
<div class="w-100">
    @using(Html.BeginForm("SendComment", "Media"))
        {
            @Html.AntiForgeryToken()
            @Html.EditorFor(model => model.CommentText, new { htmlAttributes = new { @class = "form-control" } })
            <div class="form-group">
                <div class="justify-center">
                    <input type="submit" value="Send" class="btn btn-outline-light" />
                </div>
            </div>
        }
</div>
<!-- this is the CommentHistory section -->
@section CommentHistory{
  @Html.Display(Model.CommentText)
}
