@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Please Log In</h1>
    @using(Html.BeginForm("Index", "Home"))
    {
        @Html.AntiForgeryToken()
        <label for="username">Username:</label> <input type="text" name="username" /> <br />
        <label for="password">Password:</label> <input type="text" name="password" /> <br />
        <input type="submit" value="Login">
    }
    <p>@Html.ActionLink("Create An Account", "NewUser", "Home")</p>
</div>
