@{
    ViewData["Title"] = "Account";
}

<div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a asp-controller="Home" asp-action="Index" class="d-block w-100"><img src="http://sartorialgeek.com/wp-content/uploads/2019/03/Good-Place-The-Netflix-1-810x456.jpg" class="d-block w-100" alt="The Good Place"></a>
            </div>
            <div class="carousel-item">
                <a asp-controller="Home" asp-action="Index" class="d-block w-100"><img src="https://upload.wikimedia.org/wikipedia/en/e/e0/Gotham_Logo.jpg" class="d-block w-100" alt="Gotham"></a>
            </div>
            <div class="carousel-item">
                <a asp-controller="Home" asp-action="Index" class="d-block w-100"><img src="https://calendarmedia.blob.core.windows.net/assets/e5c06077-827c-4ebb-8bda-1323a4aec8e4.jpg" class="d-block w-100" alt="Animaniacs: Live"></a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <main>
        <h1 class="lead mt-5">Recommended For You</h1>
        <section class="row" style="height: 30vw">
            <section class="col-md-12 h-100 overflow-auto">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
            </section>
        </section>
            
        <h1 class="lead mt-5">Recently Watched</h1>
        <section class="row" style="height: 30vw">
            <section class="col-md-12 h-100 overflow-auto">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
            </section>
    </main>

    <div class="row">

    </div>

    <div class="row">

    </div>
</div>