@{
    ViewData["Title"] = "Account";
}

<div>
    <main>
        <h1 class="lead mt-5">Recommended For You</h1>
        <section class="row" style="height: 30vw">
            <section class="col-md-12 h-100 overflow-auto">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." style="max-height: 500px; box-shadow: 5px 2px 5px black" />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." style="max-height: 500px; box-shadow: 5px 2px 5px black" />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." style="max-height: 500px; box-shadow: 5px 2px 5px black" />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." style="max-height: 500px; box-shadow: 5px 2px 5px black" />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." style="max-height: 500px; box-shadow: 5px 2px 5px black" />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." style="max-height: 500px; box-shadow: 5px 2px 5px black" />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
            </section>
        </section>
            
        <h1 class="lead mt-5">Recently Watched</h1>
        <section class="row" style="height: 30vw">
            <section class="col-md-12 h-100 overflow-auto">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." style="max-height: 500px; box-shadow: 5px 2px 5px black" />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." style="max-height: 500px; box-shadow: 5px 2px 5px black" />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." style="max-height: 500px; box-shadow: 5px 2px 5px black" />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." style="max-height: 500px; box-shadow: 5px 2px 5px black" />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." style="max-height: 500px; box-shadow: 5px 2px 5px black" />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="w-100" src="http://www.ece.iastate.edu/~alexs/classes/2018_Spring_575/HW/HW2/output/Part_1/placeholder.jpg" alt="..." style="max-height: 500px; box-shadow: 5px 2px 5px black" />
                    </div>
                    <div class="col-sm-8 p-4">
                        <h4>Title</h4>
                        <p>This is the description of the content of this media.</p>
                    </div>
                </div>
            </section>
    </main>

    <div class="row">

    </div>

    <div class="row">

    </div>
</div>